.clouds {
	//background: radial-gradient(hsl(210, 70%, 50%), hsl(210, 50%, 30%));
	position: absolute;
	margin: auto;
	top: 50px;
	left: 0; right: 0;
	width: 800px;
	height: 100px;
	filter: blur(7px);

	.drop {
		height: 30px;
		width: 30px;
		background: rgba(255, 255, 255, 0.15);
		border-radius: 50%;
		position: absolute;
	}

}
