.header {
	.flexrow();
	.flexcenter();
	width: 100%;
	position: relative;
	height: 200px;

	.logo {
		width: 80px;
		height: 65px;
		position: relative;
		display: none;

		img {
			width: 65px;
			height: 65px;
			.marjinoto();
			top: 10px;
		}
	}
	.menu {
		position: relative;
		.flexrow();
		.flexcenter();

		.menu-tab {
			padding: 10px;
			transition: background 500ms;
			font-size: 1.1rem;
			text-shadow: rgba(255, 255, 255, 0.5);
			.uppercase();
			font-weight: bold;
			.pointer();
			.flexrow();

			&:hover,
			&.router-link-exact-active {
				& {
					background: transparent;
				}
			}
			&, &:visited, &:focus {
				color: @blue-40;
				text-decoration: none;
			}
			.geom {
				margin-right: 10px;
			}
		}
	}
	.mobile-burger {
		display: none;
	}

	/* Mobile menu */
	@media (max-width: 1100px) {
		.flexbetween();
		.menu {
			display: none;
		}
		.mobile-burger {
			display: inherit;

			p.fa {
				font-size: 40px;
				margin-right: 25px;
				.pointer();

				&:hover {
					color: white;
					.white-shadow();
				}
			}
		}
		&.mobile-menu-open {
			position: relative;

			.logo {
				display: none;
			}
			.menu {
				display: inherit;
				flex-basis: 75%;
				padding-left: 20px;
				.flexcol();
				.flexcenter();

				.menu-tab {
					width: 100%;
					.flexstart();
					padding-left: 20px;
				}
			}
			.mobile-burger {
				padding: 10px 0 20px 20px;
				align-self: flex-start;
			}
		}

	}
}